.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.navbar {
  height: 80px;
  /* position: fixed; */
  background-color: white;
  width: 100%;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 80px;
}
.nav-links {
  display: flex;
  gap: 40px;
}
.nav-link {
  color: #333333;
  font-size: 20px;
  position: relative;
}
.wish-count {
  position: absolute;
  top: -3px;
}
@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }
  .nav-img {
    margin-top: 20px;
  }
}
